body{
    background-color:whitesmoke;

}
table{
    width:80%;
    margin:40px auto;
    background: rgb(116, 161, 201);
    padding:30px;
    border:3px solid rgb(111, 141, 168)
}
table.list{
    text-align: center;
    width:100%;
}
td{
    border:1px solid rgb(204, 200, 200);
    text-align:left;
    padding: 8px 15px;
}

input[type="text"],input[type="number"]{
    width:80%;
    padding: 12px 20px;
    margin:8px 0;
    display:inline-block;
    border:1px solid rgb(165,161,161);
    border-radius:4px;
    
}
input[type="submit"],input[type="reset"]{
    background: #eee;
    padding: 6px 12px;
    margin:15px 0 10px;
    display:inline-block;
    border:1px solid rgb(165,161,161);
    border-radius:30px;
    font-size:1rem;
    cursor: pointer;
    outline:none;
}
input[type="submit"]:hover{
    background:rgb(82, 82, 196);
}
input[type="reset"]:hover{
    background:rgb(82, 82, 196);
}